@import '../common.scss';

.foot {
    width: 100%;
    margin: 1rem auto 0 auto;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
    position: absolute;
    left: 0;
    bottom: 0;
    span {
        text-align: center;
        font-size: 0.12rem;
        line-height: 40px;
        color: $o;
        margin: 0 0.1rem;
    }
}