@import '../common.scss';

.footer {
    width: 3.75rem;
    height: auto;
    margin: 0 auto;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    margin-left: -1.825rem;
    bottom: 0;
    span {
        text-align: center;
        font-size: 12px;
        line-height: 40px;
        color: $o;
        margin: 0 0.1rem;
    }
    img{
        width: 100%;
        margin-top: 1rem;
    }
}