@import './../common.scss';

.header {
    width: 700px;
    height: 100px;
    color: #222;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    font-family: Main;

    .logo {
        margin: 10px 10px 10px 0;
        width: 30px;
        height: 30px;
        transition: all .3s;
        display: block;
    }

    nav {
        // width: 100%;
        display: flex;
        align-items: center;
        padding: 80px 0;
        transition: all .4s;

        span {
            font-size: 15px;
            line-height: 15px;
            display: block;
            margin: 0 30px;
            font-style: normal;
            font-family: Main;
            position: relative;
            z-index: 2;
            cursor: pointer;
        }

        .nav-active,
        span:hover {
            color: $o;
        }
    }
}

.header-sp {
    filter: invert(90%);

    .nav-active,
    a:hover {
        filter: invert(90%);
    }
}

@media screen and (min-width:600px) {}

@media screen and (min-width:750px) {}

/* 手机版适配 */

.header-mobile {
    position: relative;
    z-index: 3;

    // margin-bottom: 0.6rem;
    .header-top {
        height: 0.6rem;
        background: #222;
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.15rem;

        .logo,
        .fire {
            display: block;
            width: .3em;
            height: .3rem;
            filter: invert(97.5%);
        }

        .fire {
            width: .16rem;
            height: .16rem;
            margin-top: .04rem;
        }
        .fire-show {
            animation: fire .5s;
            transform-origin: left;
            animation-fill-mode: forwards;
        }       
        .fire-hide {
            animation: fire .5s;
            transform-origin: left;
            animation-direction: reverse;
            animation-fill-mode: forwards;
        }


        .nav-title {
            @include flexNormal;
            font-size: 20px;
            font-family: Main;
            color: #ffffff;
            margin-top: 0.02rem;
            margin-left: auto;
        }
    }

    nav {
        position: absolute;
        top: 0.6rem;
        left: 0;
        width: 100%;

        span {
            @include flexNormal;
            height: 0.5rem;
            font-size: 15px;
            text-align: center;
            font-style: normal;
            font-family: Main;
            background: #222222;
            color: #ffffff;
        }

        .nav-active {
            color: $o;
        }
    }
}

.slide-enter {
    transform: translateY(-10rem);
}

.slide-exit {
    transform: translateY(0);
}

.slide-enter-active {
    transition: all 0.3s;
    transform: translateY(0);
}

.slide-exit-active {
    transition: all 0.3s;
    transform: translateY(-10rem);
}

@keyframes invertALl {
    0% {
        filter: invert(0);
    }

    100% {
        filter: invert(87.5%);
    }
}

@keyframes fire {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}