@import '../common.scss';

.wordlink{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a,
a:link,
a:focus,
a:hover,
a:active {
  box-shadow: none;
  outline: none;
}


/* link */
/* =============================================================================== */
.link {
  --shadow: #222222;
  --border-color: hsl(230, 5%, 44%);

  color: $o;
  border-bottom: 1px solid var(--border-color);

  font-size: 0.18rem;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: .1rem;

  cursor: pointer;
  position: relative;

  transition: .4s;
}

.link:hover,
.link:focus,
.link:active {
  border-color: currentColor;
}

/* rest */
/* =============================================================================== */
.shadow {
  color: var(--shadow);
  transition: .4s;
}

.clone {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.letter {
  --r: 20deg;
  --m-h: 150px;
  --m-v: 150px;

  transform: rotate(var(--r)) translate(var(--m-h), var(--m-v));
  transition: .3s;
}

/* link, button */
/* =============================================================================== */
.link:hover .letter,
.link:focus .letter,
.button:hover .letter,
.button:focus .letter {
  --r: 0 !important;
  --m-h: 0 !important;
  --m-v: 0 !important;
}

.link:hover .shadow,
.link:focus .shadow,
.button:hover .shadow,
.button:focus .shadow {
  color: currentColor;
}

/* if js is on it will apply this effect */
/* =============================================================================== */
.js-on:hover .shadow,
.js-on:focus .shadow {
  color: var(--shadow);
  opacity: 0;
}