@import './common.scss';

.article-page {
    width: 500px;
    margin: 0 auto;

    .article-lists {
        // text-align: center;
        .article-title {
            // display: inline-block;
            width: 3rem;
            font-size: 0.18rem;
            color: $o;
            text-align: center;
            margin: 0.5rem 0;
            padding: 0.2rem 0;
            font-family: Main;
            font-weight: 100%;
            animation: titleShow 1s;
            opacity: 0;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            position: relative;
            background: #222;
        }

        .article-title-normal {
            // color: #222;
        }

        @for $i from 1 through 100 {
            .article-item:nth-child(#{$i}) {
                opacity: 0;
                animation: itemSlideUp 1s;
                animation-delay: #{$i * 0.05 +'s'};
                animation-fill-mode: forwards;
            }
        }

        .article-item {
            // height: 40px;
            line-height: 40px;
            cursor: pointer;
            transition: all 0.3s;
            position: relative;
            margin: 10px;
            font-size: 15px;
            // padding: 0px 20px;
            // text-align: center;

            .time {
                margin-right: 10px;
            }

            &:hover {
                color: #999;
            }
        }

        .article-item-top {
            color: $o;
            // background: #222;
            margin: 10px;
            padding: 0 20px;

            // border-bottom: 1px dashed #eee;
            &:hover {
                opacity: 1;
            }

        }
    }
}

.mobile-app {
    .article-page {
        width: 100%;
        padding: 0.1rem;
        box-sizing: border-box;
        .time {
            display: none;
        }
    }
}




/*  文章版式 */
.article {
    width: 6.5rem;
    margin: 0.50rem auto 2rem auto;
    font-size: 0.15rem;
    // line-height: 0.20rem;
    color: #555;
    line-height: 0.27rem;
    // animation: slideLeft .5s ease-in-out;

    .title {
        font-size: 0.18rem;
        text-align: center;
        margin: 0.50rem auto 1rem auto;
    }

    p {
        margin: 0.20rem auto;
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $o;
        position: relative;
        display: flex;
        align-items: center;
    }

    h1,
    h2,
    h3 {
        margin: 0.50rem 0 0.4rem 0;
        font-weight: bolder;
        transform-origin: left bottom;
        transform: scale(1.1);
        &::before {
            content: "#";
            color: #222;
            padding-right: 0.08rem;
            transform-origin: left;
            transform: scale(1.5);
        }
    }

    h4,
    h5,
    h6 {
        margin: 0.30rem 0;
    }


    img {
        display: block;
        width: 80%;
        height: auto;
        margin: 0.20rem auto;
    }

    hr {
        // display: none;
        width: 70%;
        opacity: 0.5;
        margin: 0.50rem auto;
    }

    a {
        color: $o;
        font-style: normal;
        opacity: 0.7;
        // text-decoration: none;
    }

    pre code {
        display: block;
        padding: 0.10rem;
        margin: 0.20rem 0;
        white-space: pre-line;
        overflow: auto;
        border-radius: 0;
        color: #666;

        span {
            display: block;
            line-height: 0.30rem;
            white-space: pre;
        }
    }

    code {
        display: inline-block;
        background: $light;
        color: $o;
        padding: 0.02rem 0.04rem;
        border-radius: 0.03rem;
        word-wrap: break-word;
        box-sizing: border-box;
        margin: 0 0.05rem;
        font-size: 0.13rem;
        line-height: 0.13rem;
    }

    ol {
        list-style-type: disc;

        li {
            list-style-position: inside;
            margin: 0.05rem auto;
            // font-weight: bold;
        }
    }

    blockquote {
        border-left: 0.04rem solid $o;
        padding: 0.10rem;
        background: $light;
        color: #777;

        p {
            margin: 0 auto;
        }
    }

    table {
        width: 100%;
        border-radius: 0.03rem;
        overflow: hidden;
        box-sizing: border-box;

        tr {

            th {
                background: #222;
                border: 0.01rem solid #222;
                color: #eee;
                line-height: 0.40rem;
            }

            td {
                text-align: center;
                vertical-align: middle;
                border-bottom: 0.01rem solid #222;
                border-right: 0.01rem solid #222;
                line-height: 0.30rem;
                padding: 0 0.1rem;

                &:first-of-type {
                    border-left: 0.01rem solid #222;
                }
            }

        }
    }

}

/* mobile 兼容*/
.mobile-app {
    .article {
        width: 100%;
        box-sizing: border-box;
        padding: 0 0.2rem;
    }
}


@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes itemSlideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}