@import './common.scss';

.article-page {
    width: 3.75rem;
    margin: 0 auto;
    padding: 0 0.1rem;
    box-sizing: border-box;

    @for $i from 1 through 100 {
        .article-item:nth-child(#{$i}) {
            opacity: 0;
            animation: itemSlideUp 1s;
            animation-delay: #{$i * 0.03 +'s'};
            animation-fill-mode: forwards;
        }
    }
}

.article-lists {

    .article-item,
    .article-item-top {
        cursor: pointer;
        transition: all 0.3s;
        position: relative;
        margin: 10px 0;
        font-size: 16px;
        line-height: 20px;
        background: rgba($light, .5);
        padding: 20px;
        border-radius: 0.1rem;

        .time {
            width: 100px;
            margin-right: 10px;
            display: inline-block;
        }

        &:hover {
            color: #999;
            // background: transparent;
        }
    }

    .article-title {
        width: 230px;
        margin: 50px auto;
        display: block;
        position: relative;
        box-sizing: border-box;
        animation: fadeIn 1s;
        animation-delay: .8s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .article-item-top {
        color: $o;

        &:hover {
            opacity: 1;
        }

    }
}

/*  文章版式 */
.article {
    width: 3.75rem;
    margin: 0.2rem auto 0.5rem auto;
    font-size: 16px;
    font-family: PingFang SC, Microsoft Yehei, Hiragino Sans GB;
    color: #555;
    line-height: 1.8;
    padding: 0 0.175rem;
    box-sizing: border-box;

    // animation: slideLeft .5s ease-in-out;
    .title-content {
        width: 100%;
        height: auto;
        background: url('../assets/article-bg.png') no-repeat;
        background-size: auto;
        padding: 0.25rem 0.1rem;
        margin: 0 auto 0.6rem auto;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        justify-content: center;

        .title {
            min-width: 50%;
            max-width: 90%;
            border: 1px solid $o;
            padding: 0.1rem;
            font-size: 18px;
            line-height: 30px;
            background: rgba(#fff, .5);
            margin: 0;
            display: inline-block;
            box-sizing: border-box;

            &::before {
                content: "";
                display: none;
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $o;
        position: relative;
        display: flex;
        align-items: center;
    }

    h1,
    h2,
    h3 {
        margin: 50px 0 20px 0;
        font-weight: bolder;
        transform-origin: left bottom;
        transform: scale(1.1);

        &::before {
            content: "#";
            color: #666;
            padding-right: 0.08rem;
            transform-origin: left;
            transform: scale(1.5);
        }
    }

    h4,
    h5,
    h6 {
        color: $dark;
        margin-top: 30px;
        font-size: 17px;

        &::before {
            content: "#";
            padding-right: 0.02rem;
            transform-origin: left;
            transform: scale(1.2);
        }
    }

    p,
    ul {
        margin: 20px auto;
        text-align: justify;
        line-height: 1.8;
    }

    strong {
        color: $dark;
    }

    img {
        display: block;
        width: 90%;
        height: auto;
        margin: 0.20rem auto;
    }

    hr {
        // display: none;
        width: 70%;
        opacity: 0.5;
        margin: 0.50rem auto;
    }

    a {
        color: $o;
        font-style: normal;
        opacity: 0.7;
        // text-decoration: none;
    }

    code {
        display: inline-block;
        background: $light;
        color: $o;
        padding: 0 0.03rem;
        border-radius: 0.03rem;
        word-wrap: break-word;
        box-sizing: border-box;
        // margin: 0 0.01rem;
        font-size: 14px;
        font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    }

    pre code {
        display: block;
        padding: 0.05rem 0.1rem;
        margin: 0.10rem 0;
        white-space: pre-line;
        overflow: auto;
        border-radius: 0;
        color: #cdd;
        background: #333;
        border-radius: 0.04rem;

        span {
            display: block;
            line-height: 28px;
            white-space: pre;
        }
    }

    ol,
    ul {
        list-style-type: disc;

        li {
            margin: 0.05rem auto;
            margin-left: 20px;
        }
    }

    blockquote {
        border-left: 0.03rem solid $o;
        padding: 0.10rem;
        background: $light;
        opacity: 0.7;
        margin: 0.1rem 0;

        p {
            margin: 0 auto;
            // line-height: 1.8;
        }

        code {
            padding: 0;
        }
    }

    table {
        width: 100%;
        border-radius: 0.03rem;
        overflow: hidden;
        box-sizing: border-box;
        background: $light;

        tr {
            th {
                border: 0.01rem solid #ccc;
                padding: 0.1rem;
            }

            td {
                text-align: center;
                vertical-align: middle;
                border-bottom: 0.01rem solid #ccc;
                border-right: 0.01rem solid #ccc;
                padding: 0.1rem;

                &:first-of-type {
                    border-left: 0.01rem solid #ccc;
                }
            }

        }
    }

}

@media screen and (max-width:600px) {
    .article-item .time {
        display: none !important;
    }
}





@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes itemSlideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}