@import './common.scss';

.foot {
    width: 100%;
    margin: 2rem auto 0 auto;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    span {
        text-align: center;
        font-size: 12px;
        line-height: 30px;
        color: $o;
        margin: 0 0.1rem;
    }
}