@import "../style/common.scss";

.wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    .circle {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: #fcdc29;
        border-radius: 30%;
        animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
        transform-origin: bottom center;
        position: relative;
        margin: 2px;
    }

    @for $i from 1 through 8 {
        .circle-#{$i} {
            animation-delay: 0.1s * $i;
        }
    }
}



@keyframes loading {
    0% {
        transform: translateY(0px) rotate(45deg);
        background-color: $o;
    }

    50% {
        transform: translateY(50px) rotate(45deg);
        background-color: #222;
    }

    100% {
        transform: translateY(0px) rotate(45deg);
        background-color: $o;
    }
}