@import './common.scss';

.app {
    height: auto;
}

.container {
    position: relative;
    width: 800px;
    margin: 80px auto 0 auto;
    perspective: 50px;

    #box {
        width: 800px;
        height: 470px;
        background: url('../assets/dinosaur.png') no-repeat center;
        background-size: 100% 100%;
        margin: 0 auto;
        transition: all 0.2s;
        z-index: 1;
    }

    .word {
        position: absolute;
        right: 0;
        top: 200px;
        width: 400px;
        height: 150px;
        background: url('../assets/word.png') no-repeat;
        background-size: 100% auto;
        transition: all 0.2s;
    }

    .circle {
        position: absolute;
        left: 180px;
        bottom: 10px;
        width: 220px;
        height: 220px;
        background: url('../assets/circle.png') no-repeat;
        background-size: 100% 100%;
        transition: all 0.2s;
    }
}

.mainBlock-title {
    font-size: 0.18rem;
    color: $o;
    text-align: center;
    margin: 1rem auto 0.1rem auto;
    font-family: Main;
    font-weight: 100%;
}

.mainBlock {
    // width: 9rem;
    margin: 0.5rem auto;
    @include flexNormal;

    .item {
        width: 1.8rem;
        height: 1.8rem;
        margin: 0.3rem 0.15rem;
        @include flexNormal;
        flex-direction: column;
        cursor: pointer;
        transition: all .3s;
        box-sizing: border-box;
        filter: grayscale(90%);

        &:hover {
            filter: grayscale(0%);
            transform:scale(1.01);
        }

        .item-icon {
            width: 100%;
            height: 100%;
        }
    }
}

.bottom-text {
    width: 100%;
    padding: 0.8rem 0.5rem 0.5rem 0.5rem;
    font-size: 0.12rem;
    text-align: center;
    color: #666;
    box-sizing: border-box;
}

// 移动端
.mobile-app {
    .container {
        width: 100%;
        margin: 0.3rem auto 0 auto;
        perspective: 0.5rem;

        #box {
            width: 100%;
            height: 2.3rem;
        }

        .word {
            position: absolute;
            right: 0;
            top: 50%;
            width: 2rem;
            height: 0.75rem;
            margin-top: -0.3rem;
        }

        .circle {
            position: absolute;
            left: 0.90rem;
            bottom: 0.05rem;
            width: 1.1rem;
            height: 1.1rem;
        }
    }

    .mainBlock-title {
        margin: 0.5rem auto 0.1rem auto;
    }

    .mainBlock {
        .item {
            width: 1rem;
            height: 1rem;
            margin: 0.1rem;
            border-radius: 0;
        }
    }
}


.black-button {
    width: 80px;
    text-align: center;
    display: block;
    background: #000;
    color: #ffffff;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 50px;
    margin: 100px auto;

}