@import './common.scss';

.app {
    height: auto;
}

.container {
    position: relative;
    width: 3.75rem;
    margin: 0.25rem auto 0 auto;
    // overflow: hidden;

    .dinosaur {
        width: 100%;
        height: auto;
        display: block;
        transform: scale(1.2) translateX(0.2rem) translateY(0.1rem);
    }

    // .word-1 {
    //     position: absolute;
    //     right: 10%;
    //     top: 30%;
    //     width: 4rem;
    //     height: 1.5rem;
    //     background: url('../assets/word-1.png') no-repeat;
    //     background-size: 100% auto;
    //     z-index: 2;
    // }

    // .word-2 {
    //     position: absolute;
    //     right: 10%;
    //     top: 40%;
    //     width: 3rem;
    //     height: 1.5rem;
    //     background: url('../assets/word-2.png') no-repeat;
    //     background-size: 100% auto;
    //     z-index: 2;
    // }

    .circle {
        position: absolute;
        left: 0.8rem;
        bottom: 0.1rem;
        width: 1.5rem;
        height: 1.5rem;
        background: linear-gradient(rgba($o, 0.7), transparent);
        border-radius: 50%;
        z-index: 1;
    }

    .word-group {
        position: absolute;
        top: 80%;
        width: 100%;
        transform: translateY(-50%);
        font-size: 0.1rem;
        z-index: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;

        span {
            &:last-child {
                color: $o;
            }
        }
    }
}

.mainBlock {
    width: 100%;
    margin: 0.5rem auto 0.2rem auto;
    @include flexNormal;

    .item {
        width: auto;
        margin: 0 0.15rem;
        cursor: pointer;
        transition: all .3s;
        box-sizing: border-box;
        filter: grayscale(90%);
        box-shadow: 0 0.05rem 0.05rem rgba(#ddd,0.5),0 -0.03rem 0.05rem rgba(#ddd,0.5);
        border-radius: 0.15rem;
        overflow: hidden;

        &:hover {
            filter: grayscale(0%);
            transform: scale(1.01);
        }

        &:last-of-type {
            margin-left: 0;
        }

        &:first-of-type {
            margin-right: 0;
        }

        .item-icon {
            width: 1.1rem;
            height: 1.1rem;
            display: block;
        }
    }
}

.main-article {
    width: 3.75rem;
    margin: 0.1rem auto 0.5rem auto;
    padding: 0 0.075rem;
    box-sizing: border-box;
    .article-title {
        background: $dark;
        color: #fff;
        margin: 10px 0;
        font-size: 16px;
        line-height: 20px;
        padding: 20px;
        font-weight: bold;
    }
}

.bottom-text {
    width: 100%;
    padding: 0.8rem 0.5rem 0.5rem 0.5rem;
    font-size: 12px;
    text-align: center;
    color: #666;
    box-sizing: border-box;
}