.pagination {
    width: 100%;
    display: flex;
    margin: 20px auto 50px 10px;
    justify-content: center;
    font-size: 14px;
    margin-left: 10px; 

    .pagination-btn {
        width: 30px;
        height: 30px;
        background: #222;
        margin: 20px;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        transition: all 0.3s;
        cursor: pointer;
        position: relative;
        user-select: none;
        background-image: url('../assets/right.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70% 70%;
        padding: 10px;
        box-sizing: border-box;
        transition: all .3s;
        &:hover {
            transform: scale(0.9);
        }
    }

    .pagination-btn--left {
        background-image: url('../assets/left.png');
    }
}

@keyframes circleScale {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}