@import './common.scss';

.project {
    width: 100%;
    max-width: 5rem;
    margin: 0 auto;

    .project-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-title-content {
        position: relative;
    }

    .project-title {
        font-size: 18px;
        color: $dark;
        text-align: center;
        margin: 0.5rem auto;
        font-family: Main;
        font-weight: 100%;
        animation: titleShow 1s;
        opacity: 0;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    @for $i from 1 through 100 {
        .project-item:nth-child(#{$i}) {
            opacity: 0;
            animation: itemSlideUp 1s;
            animation-delay: #{$i * 0.1 +'s'};
            animation-fill-mode: forwards;
            position: relative;
        }
    }

}

@keyframes itemSlideUp {
    0% {
        opacity: 0;
        top: 100px;
    }

    100% {
        opacity: 1;
        top:0;
    }
}

@keyframes titleShow {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}