@import './common.scss';

.project-item {
    width: 3.75rem;
    max-width: 370px;
    height: auto;
    box-sizing: border-box;
    padding: 0.2rem;
    margin: 0.13rem 0.25rem;
    border: 0.01rem solid transparent;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0.05rem 0.05rem #e8eaf6, 0 -0.03rem 0.05rem rgba(#e8eaf6,.5);
    border-radius: 0.25rem;
    background: #fff;
    cursor: pointer;
    user-select: none;

    &:active {
        transform: scale(0.9);
    }
    &:first-of-type{
        // margin-top: 0.25rem;
    }

    img {
        width: 100%;
        display: block;
        background: #fff;
    }

    .content {
        box-sizing: border-box;
        margin-top: 0.2rem;

        .title {
            font-size: 18px;
            padding-bottom: 0.1rem;
            color: $o;
            font-weight: bold;
        }

        p {
            font-size: 14px;
            line-height: 1.5;
            color: #666;
            overflow: hidden;
            text-align: justify;

        }

        .more {
            display: block;
            font-size: 14px;
            line-height: 18px;
            color: $dark;
            font-weight: bold;
            margin-top: 0.05rem;
        }
    }
}